body{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a{
    text-decoration: none;
    color: black;
}


/* Header Contact Us logo */
header{
    padding: 0px 40px;
    text-align: right;
    z-index: 7;
    position: relative;
    height: 30px;
}

header img{
    margin-top: 10px;
    max-width: 100px;
    width: 100%;
    transform: translateY(1px);
}

/* Navigation Bar */
nav{
    top: 0;
    background-color: white;
    z-index: 6;
    position: sticky;
}

nav .topContainer{
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    padding-bottom: 10px;
    align-items: center;
    z-index: 6;
    position: relative;
}

nav #logo{
    max-width: 150px;
}

nav h4{
    margin: 0px;
    color: rgb(189, 2, 2);
    padding: 10px 14px;
    border-radius: 10px;
    transition: 0.4s;
}

nav h4:hover{
    color: white;
    background-color: rgba(211,18,69,255);
}

nav #buttonContainer{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}   

nav #burgerBar{
    display: none;
}

nav #burgerFoto{
    height: 50px;
    transition: 0.3s;
    border-radius: 10px;
    vertical-align: bottom;
}


nav #dropDown{
    background-color: white;
    width: 100%;
    position: absolute;
    height: 0;
    transition: 0.4s;
    transform-origin: top;
    overflow: hidden;
}

nav #dropDown h4{
    border-top : 1px solid rgba(0, 0, 0, 0.5);
    padding: 6px 25px;
}

nav #dropDown h4:hover{
    background-color: rgba(12, 146, 199, 0.412);
    transition: 0.3s;
}


/* Opening */
.opening{
    position: relative;
}

.opening img{
    max-width: 100vw;
    width: 100%;
    height: auto;
    object-fit:cover;
    overflow:auto
}

.opening #text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: absolute;
    top: 0;
    left: 8%;
    color: rgba(211,18,69,255);
    font-size: 2rem;
    text-shadow: 0px 2px 2px #00000055;
}

.opening #text h1{
    margin: 0px;
    margin-bottom: 20px;
}

.opening #text p{
    font-size: 1.2rem;
    margin: 0px;
    margin-left: 6px;
    padding-bottom: 35px;
}

/* Contact Us */
.Heading{
    text-align: center;
    color: white;
    background-color: rgba(211,18,69,255);
    transform: translateY(-4px);
    word-spacing: 4px;
}

.Heading h2{
    margin: 0;
    padding: 20px 15px;
    text-wrap: pretty;
}

.Heading img{
    margin-top: 20px;
    max-width: 80px;
    max-height: 80px;
    height: 100%;
    object-fit: contain;
    width: 100%;
}

form{
    box-shadow: 0rem 0rem 1rem 0.5rem hsla(0, 0%, 0%, 0.25);
    border-radius: 20px;
    max-width: 70vw;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h2{
    margin-top: 50px;
    margin-bottom: 0;
    color: rgba(211,18,69,255);
    font-size: 2em;
}

.formInput{
    display: grid;
    grid-template-areas: "nameFirst nameLast"
                         "email email"
                         "phoneNum phoneNum"
                         "message message"
                         "verify verify";
    align-items: center;
    column-gap: 15px;
    row-gap: 20px;
    padding: 45px;
    width: 80%;
}

.formInput label{
    text-indent: 9px;
    margin-bottom: 5px;
}

.formInput span{
    color: red;
    opacity: 1;
    transition: 0.3s;
}

.formInput input, textarea{
    outline: none;
    padding: 10px;
    border: 2px solid rgba(211,18,69,255);
    border-radius: 5px;
    resize: vertical;
    transition: 0.4s;
}

.formInput input:focus, textarea:focus{
    outline: rgba(211,18,69,255) solid 1px;
}

.formInput button{
    outline: none;
    border-radius: 5px;
    max-width: 200px;
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: rgb(39,80,232);
    cursor: pointer;
    margin: 10px 0px;
    border: 0px;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 1px black;
}

.formInput button:hover{
    background-color: rgb(29, 59, 169);
    box-shadow: 0px 5px 1px black;
    transform: translateY(-5px);
}

.formInput button:active{
    box-shadow: 0px 3px 1px black;
    transform: translateY(-3px);
    transition-duration: 0.2s;
}


.item{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

.item .error{
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    color: #00000055;
    top: 100%;
    left: 0;
    right: 0;
    transform: translateY(-0.6em);
}

.item.NameFirst{
    grid-area: nameFirst;
}

.item.NameLast{
    grid-area: nameLast;
}

.item.Email{
    grid-area: email;
}

.item.PhoneNum{
    grid-area: phoneNum;
}

.item.Message{
    grid-area: message;
}

.item.Verify{
    grid-area: verify;
    margin: 0;
    transform: translateY(-10px);
    display: none;
}

.item.Verify label{
    display: block;
}

.item.Verify p{
    margin: 0;
    text-indent: 9px;
}

.item.Verify .qna{
    display: flex;
    align-items: center;
    column-gap: 20px;
    row-gap: 3px;
    margin-top: 10px;
}

.qna span{
    color: black;
}

.companyContact{
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    align-items: center;
    row-gap: 15px;
}

.companyContact .info{
    text-align: center;
}

.companyContact .wrapper_info{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
}

.companyContact p{
    margin: 0;
    max-width: 40vw;
    color: rgba(0, 0, 0, 0.7);
    text-wrap: balance;
}

.companyContact #numberPhone{
    text-decoration: underline;
}

.companyContact #numberPhone:hover{
    color: rgba(49, 125, 146, 0.717);
}

/* Footer */
footer{
    margin: 5px 0px;
}

footer .containerFooter{
    padding: 20px 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    position: relative;
}

footer .about{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-bottom: 10px;
}

footer .about img{
    max-width: 170px;
}

footer .about #aboutOptions{
    margin: 0;
    /* padding: 10px 0px; */
    color: rgba(0, 0, 0, 0.623);
    display: inline-block;
    text-indent: 15px;
    font-size: 1.2em;
}

footer .about #aboutOptions:hover{
    color: rgba(211,18,69,255);
}

footer .about a{
    width: fit-content;
}

footer .about #imageAnchor{
    max-height: 61px;
}

footer #tradeMarks{
    color: #D31245;
    display: inline-block;
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
}

.containerFooter .mediasWrapper{
    margin-bottom: 10px;
    margin-top: auto;
}

.containerFooter .mediasWrapper h2{
    color: rgba(0, 0, 0, 0.623);
}

.containerFooter #medias{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

#Instagram,#Facebook,#Twitter{
    position: relative;
}

#Instagram span, #Facebook span, #Twitter span{
    background-color: black;
    border-radius: .33em;
    bottom: -1.4em;
    color: #fff;
    display: none;
    font-size: 1rem;
    left: 50%;
    margin: 0;
    padding: .2em .5em;
    position: absolute;
    transform: translate(-50%,0);
    visibility: visible;
    width: auto;
    z-index: 1;
}

#Instagram:hover span, #Facebook:hover span, #Twitter:hover span{
    display: block;
}

@media only screen and (max-width: 768px) {
    header{
        padding: 0px 30px;
    }

    /* Navbar */
    nav .topContainer {
        padding: 15px 30px;
        margin-top: 10px;
        align-items: baseline;
    }

    nav #buttonContainer{
        display: none;  
    }
 
    nav #burgerBar{
        display: block;
    }

    nav h4{
        border-radius: 0px;
    }

    /* Header */
    .opening #text h1{
        font-size: 7vw;
        width: 50%;
    }

    .opening #text p{
        display: none;
    }


    /* Content */
    .Heading img{
        max-width: 50px;
        margin: 0px;
        margin-top: 5px;
    }

    .Heading h2{
        max-width: 300px;
        font-size: 1.2em;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 5px;
    }

    form{
        max-width: 80vw;
    }

    form h2{
        margin-top: 25px;
        font-size: 1.8em;
    }

    .formInput{
        grid-template-areas: "nameFirst"
                        "nameLast"
                        "email"
                        "phoneNum"
                        "message"
                        "verify";
        padding: 20px;
        row-gap: 30px;
    }

    .formInput button{
        margin: 10px auto;
        width: 100%;
    }

    .item.Verify .qna{
        flex-direction: column;
        align-items: start;
    }

    .companyContact p{
        max-width: 50vw;
    }

    /* Footer */
    footer .containerFooter{
        padding: 10px 30px;
        padding-bottom: 45px;
        flex-direction: column;
        row-gap: 5px;
    }    

    footer .about{
        align-items: center;
        row-gap: 15px;
    }

    .containerFooter .mediasWrapper{
        margin-bottom: 0px;
    }

    .containerFooter .mediasWrapper h2{
        margin-top: 0px;
        margin-bottom: 10px;
    }
    
    footer .about #aboutOptions{
        text-indent: 0px;
    }

}

@media only screen and (min-width: 769px){
    nav #dropDown{
        height: 0;
    }
}